LogLevel debug

<VirtualHost *>
    ServerName http://{{ getenv "VIRTUAL_HOST" }}
    DocumentRoot /var/www/html/mellon

    # MellonDiagnosticsEnable On

    <Location />
        MellonSPMetadataFile /etc/mellon/mellon_metadata.xml
        MellonSPPrivateKeyFile /etc/mellon/cert/mellon_metadata.key.pem
        MellonSPCertFile /etc/mellon/cert/mellon_metadata.crt.pem
        MellonIdPMetadataFile /usr/local/apache2/mellon/metadata/idp.xml
        
        MellonSamlResponseDump On
        MellonSessionDump On

        AuthType "Mellon"
        MellonEnable "auth"
        Require valid-user
        
        Order allow,deny
        Allow from all

		# ProxyPass http://app-frontend
        # ProxyPassReverse http://app-frontend
    </Location>

    <Location /mellon>
        MellonEnable "info"
    </Location>

    <Location /loggedout>
        MellonEnable "off"
        Require all granted
    </Location>

</VirtualHost>
